/* Message list */

.message-list {
  width: 31.5em;
}

.message-list-clear-button.button {
  background-color: transparent;
  margin: 1.5em 1.5em 0;
  &:hover, &:focus {
    background-color: rgba(238, 238, 236, 0.1);
  }
}

.message-list-sections {
  spacing: 1em;
}

.message-list-section, .message-list-section-list {
  spacing: 0.4em;
}

.message {
  border-radius: 3px;
  &:hover, &:focus {
    background-color: rgba(238, 238, 236, 0.1);
  }
}

.message-icon-bin {
  padding: 10px 3px 10px 10px;
  &:rtl {
    padding: 10px 10px 10px 3px;
  }
  > StIcon {
    color: #bebeb6;
    icon-size: 16px;
  }
}

.message-secondary-bin {
  padding: 0 12px;
  > {
    .event-time {
      color: #8e8e80;
      font-size: 0.7em;
      /* HACK: the label should be baseline-aligned with a 1em label,
                         fake this with some bottom padding */
      padding-bottom: 0.13em;
    }
    StIcon {
      icon-size: 16px;
    }
  }
}

.message-title {
  color: #e2e2df;
}

.message-content {
  color: #bebeb6;
  padding: 10px;
}

.message-media-control {
  padding: 12px;
  color: #bebeb6;
  &:last-child {
    &:ltr {
      padding-right: 18px;
    }
    &:rtl {
      padding-left: 18px;
    }
  }
  &:hover {
    color: #eeeeec;
  }
  &:insensitive {
    color: #8e8e80;
  }
}

.media-message-cover-icon {
  icon-size: 48px !important;
  &.fallback {
    color: #515a5a;
    background-color: #3f3e39;
    border: 2px solid #3f3e39;
    border-radius: 2px;
    icon-size: 16px;
    padding: 8px;
  }
}
