.system-switch-user-submenu-icon {
  &.user-icon {
    icon-size: 20px;
    padding: 0 2px;
  }
  &.default-icon {
    icon-size: 16px;
    padding: 0 4px;
  }
}

#appMenu {
  spinner-image: url("resource:///org/gnome/shell/theme/process-working.svg");
  spacing: 4px;
  .label-shadow {
    color: transparent;
  }
}

.aggregate-menu {
  min-width: 21em;
  .popup-menu-icon {
    padding: 0 4px;
  }
  .popup-sub-menu .popup-menu-item :first-child {
    &:ltr {
      /* 12px spacing + 2*4px padding */
      padding-left: 20px;
      margin-left: 1.09em;
    }
    &:rtl {
      /* 12px spacing + 2*4px padding */
      padding-right: 20px;
      margin-right: 1.09em;
    }
  }
}

.system-menu-action {
  color: #eeeeec;
  border-radius: 32px;
  /* wish we could do 50% */
  padding: 13px;
  border: 1px solid #2c2c28;
  &:hover, &:focus {
    background-color: rgba(238, 238, 236, 0.1);
    color: #eeeeec;
    border: none;
    padding: 14px;
  }
  &:active {
    background-color: #dd4814;
    color: #ffffff;
  }
  > StIcon {
    icon-size: 16px;
  }
}

.ripple-box {
  width: 52px;
  height: 52px;
  background-image: url("resource:///org/gnome/shell/theme/corner-ripple-ltr.png");
  background-size: contain;
  &:rtl {
    background-image: url("resource:///org/gnome/shell/theme/corner-ripple-rtl.png");
  }
}

.popup-menu-arrow {
  width: 16px;
  height: 16px;
}

.popup-menu-icon {
  icon-size: 1.09em;
}

.window-close {
  background-image: url("resource:///org/gnome/shell/theme/close-window.svg");
  background-size: 32px;
  height: 32px;
  width: 32px;
  -shell-close-overlap: 16px;
  &:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }
}