

/* On-screen Keyboard */

.word-suggestions {
  font-size: 14pt;
  spacing: 12px;
  min-height: 20pt;
}

#keyboard {
  background-color: rgba(46, 52, 54, 0.7);
}

.key-container {
  padding: 4px;
  spacing: 4px;
}

.keyboard-key {
  background-color: #3f3f39;
  min-height: 2em;
  min-width: 2em;
  font-size: 16pt;
  border-radius: 3px;
  border: 1px solid #4d4d46;
  color: #e5e5e5;
  &:focus {
    color: #eeeeec;
    text-shadow: 0 1px black;
    icon-shadow: 0 1px black;
    box-shadow: inset 0px 0px 0px 1px #dd4814;
  }
  &:hover, &:checked {
    color: white;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: #4f5245;
    box-shadow: inset 0 1px #6d5d69;
    text-shadow: 0 1px black;
    icon-shadow: 0 1px black;
  }
  &:active {
    color: white;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: #dd4814;
    box-shadow: inset 0 0 black;
    text-shadow: none;
    icon-shadow: none;
  }
  &:grayed {
    background-color: #3f3e39;
    color: #eeeeec;
    border-color: rgba(0, 0, 0, 0.7);
  }
  &.default-key {
    border-color: #32322d;
    background-color: #20201d;
    background-size: 20px;
  }
  &.enter-key {
    border-color: #dd4814;
    background-color: #e95420;
    background-image: url("resource:///org/gnome/shell/theme/key-enter.svg");
  }
  &.shift-key-lowercase {
    background-image: url("resource:///org/gnome/shell/theme/key-shift.svg");
  }
  &.shift-key-uppercase {
    background-image: url("key-shift-uppercase.svg");
    &:latched {
      background-image: url("key-shift-latched-uppercase.svg");
    }
  }
  &.hide-key {
    background-image: url("resource:///org/gnome/shell/theme/key-hide.svg");
  }
  &.layout-key {
    background-image: url("resource:///org/gnome/shell/theme/key-layout.svg");
  }
}

.keyboard-subkeys {
  color: white;
  -arrow-border-radius: 10px;
  -arrow-background-color: rgba(46, 52, 54, 0.7);
  -arrow-border-width: 2px;
  -arrow-border-color: rgba(238, 238, 236, 0.2);
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}

.candidate-popup-content {
  padding: 0.5em;
  spacing: 0.3em;
}

.candidate-index {
  padding: 0 0.5em 0 0;
  color: #d6d6d1;
}

.candidate-box {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 4px;
  &:selected, &:hover {
    background-color: #dd4814;
    color: #ffffff;
  }
}

.candidate-page-button-box {
  height: 2em;
}

.vertical .candidate-page-button-box {
  padding-top: 0.5em;
}

.horizontal .candidate-page-button-box {
  padding-left: 0.5em;
}

.candidate-page-button {
  padding: 4px;
}

.candidate-page-button-previous {
  border-radius: 4px 0px 0px 4px;
  border-right-width: 0;
}

.candidate-page-button-next {
  border-radius: 0px 4px 4px 0px;
}

.candidate-page-button-icon {
  icon-size: 1em;
}