/* OVERVIEW */

#overview {
  spacing: 24px;
}

.overview-controls {
  padding-bottom: 32px;
}

.window-picker {
  -horizontal-spacing: 16px;
  -vertical-spacing: 16px;
  padding: 0 16px 16px;
  &.external-monitor {
    padding: 16px;
  }
}

.window-clone-border {
  border: 4px solid #dd4814;
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 1px #dd4814;
}

.window-caption {
  spacing: 25px;
  color: #ffffff;
  background-color: #dd4814;
  border-radius: 8px;
  padding: 4px 12px;
}

.search-entry {
  width: 320px;
  padding: 7px 9px;
  border-radius: 6px;
  border-color: #747467;
  color: #eeeeec;
  background-color: #3f3e39;
  &:focus {
    padding: 6px 8px;
    border-width: 2px;
    border-color: #dd4814;
  }
  .search-entry-icon {
    icon-size: 1em;
    padding: 0 4px;
    color: rgba(238, 238, 236, 0.7);
  }
  &:hover .search-entry-icon, &:focus .search-entry-icon {
    color: #eeeeec;
  }
}

#searchResultsBin {
  max-width: 1000px;
}

#searchResultsContent {
  padding-left: 20px;
  padding-right: 20px;
  spacing: 16px;
}

.search-section {
  spacing: 16px;
}

.search-section-content {
  spacing: 32px;
}

.list-search-results {
  spacing: 3px;
}

.search-section-separator {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

.list-search-result-content {
  spacing: 30px;
}

.list-search-result-title {
  color: #e2e2df;
  spacing: 12px;
}

.list-search-result-description {
  color: rgba(202, 202, 196, 0.5);
}

.list-search-provider-details {
  width: 150px;
  color: #e2e2df;
  margin-top: 0.24em;
}

.list-search-provider-content {
  spacing: 20px;
}

.search-provider-icon {
  padding: 15px;
}