/* Auth Dialogs */

.framed-user-icon {
  margin: auto;
  background-size: contain;
  border: 2px solid #eeeeec;
  color: #eeeeec;
  border-radius: 3px;
  &:hover {
    border-color: white;
    color: white;
  }
}

.login-dialog-banner-view {
  padding-top: 24px;
  max-width: 23em;
}

.login-dialog {
  border: none;
  background-color: transparent;
  .modal-dialog-button-box {
    background-color: none;
    spacing: 3px;
  }
  .modal-dialog-button {
    padding: 3px 18px;
    &:default {
      color: #eeeeec;
      background-color: rgba(33, 93, 156, 0.5);
      border-color: rgba(0, 0, 0, 0.7);
      box-shadow: inset 0 1px #454f52;
      text-shadow: 0 1px black;
      icon-shadow: 0 1px black;
      &:hover, &:focus {
        color: white;
        border-color: rgba(0, 0, 0, 0.7);
        background-color: rgba(33, 93, 156, 0.7);
        box-shadow: inset 0 1px #5d696d;
        text-shadow: 0 1px black;
        icon-shadow: 0 1px black;
      }
      &:active {
        color: white;
        border-color: rgba(0, 0, 0, 0.7);
        background-color: #215d9c;
        box-shadow: inset 0 0 black;
        text-shadow: none;
        icon-shadow: none;
      }
      &:insensitive {
        color: #949796;
        border-color: rgba(0, 0, 0, 0.7);
        background-color: rgba(66, 72, 73, 0.7);
        box-shadow: none;
        text-shadow: none;
        icon-shadow: none;
      }
    }
  }
}

.login-dialog-logo-bin {
  padding: 24px 0px;
}

.login-dialog-banner {
  color: #d6d6d1;
}

.login-dialog-button-box {
  spacing: 5px;
}

.login-dialog-message-warning {
  color: #f57900;
}

.login-dialog-message-hint {
  padding-top: 0;
  padding-bottom: 20px;
}

.login-dialog-user-selection-box {
  padding: 100px 0px;
}

.login-dialog-not-listed-label {
  padding-left: 2px;
}

.login-dialog-not-listed-button {
  &:focus .login-dialog-not-listed-label, &:hover .login-dialog-not-listed-label {
    color: #eeeeec;
  }
}

.login-dialog-not-listed-label {
  font-size: 90%;
  font-weight: bold;
  color: #a6a69b;
  padding-top: 1em;
}

.login-dialog-user-list-view {
  -st-vfade-offset: 1em;
}

.login-dialog-user-list {
  spacing: 12px;
  width: 23em;
  &:expanded .login-dialog-user-list-item {
    &:selected {
      background-color: #215d9c;
      color: #ffffff;
    }
    &:logged-in {
      border-right: 2px solid #215d9c;
    }
  }
}

.login-dialog-user-list-item {
  border-radius: 5px;
  padding: 6px;
  color: #a6a69b;
  &:ltr .user-widget {
    padding-right: 1em;
  }
  &:rtl .user-widget {
    padding-left: 1em;
  }
  .login-dialog-timed-login-indicator {
    height: 2px;
    margin-top: 6px;
    background-color: #eeeeec;
  }
  &:focus .login-dialog-timed-login-indicator {
    background-color: #ffffff;
  }
}

.login-dialog-username {
  color: #eeeeec;
  font-size: 120%;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
}

.user-widget-label {
  color: #eeeeec;
  font-size: 120%;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
  &:ltr {
    padding-left: 14px;
  }
  &:rtl {
    padding-right: 14px;
  }
}

.login-dialog-prompt-layout {
  padding-top: 24px;
  padding-bottom: 12px;
  spacing: 8px;
  width: 23em;
}

.login-dialog-prompt-label {
  color: #bebeb6;
  font-size: 110%;
  padding-top: 1em;
}

.login-dialog-session-list-button {
  StIcon {
    icon-size: 1.25em;
  }
  color: #a6a69b;
  &:hover, &:focus {
    color: #eeeeec;
  }
  &:active {
    color: #747467;
  }
}
