/* Slider */

.slider {
  height: 1em;
  -slider-height: 0.3em;
  -slider-background-color: #363633;
  -slider-border-color: #1f1f1c;
  -slider-active-background-color: #dd4814;
  -slider-active-border-color: #bb3e11;
  -slider-border-width: 1px;
  -slider-handle-radius: 6px;
}