#lockDialogGroup {
  background-repeat: no-repeat;
  background: url(resource:///org/gnome/shell/theme/background.jpg);
  background-size: cover;
}

/*#lockDialogGroup {
  background: #2e3436 url(resource:///org/gnome/shell/theme/noise-texture.png);
  background-repeat: repeat;
}*/