/* Audio selection dialog */

.audio-device-selection-dialog {
  spacing: 30px;
}

.audio-selection-content {
  spacing: 20px;
  padding: 24px;
}

.audio-selection-title {
  font-weight: bold;
  text-align: center;
}

.audio-selection-box {
  spacing: 20px;
}

.audio-selection-device {
  border: 1px solid rgba(238, 238, 236, 0.2);
  border-radius: 12px;
  &:active, &:hover, &:focus {
    background-color: $bg-selection;
  }
}

.audio-selection-device-box {
  padding: 20px;
  spacing: 20px;
}

.audio-selection-device-icon {
  icon-size: 64px;
}
