/* Message Dialog */

.message-dialog-main-layout {
  padding: 12px 20px 0;
  spacing: 12px;
}

.message-dialog-content {
  max-width: 28em;
  spacing: 20px;
}

.message-dialog-icon {
  min-width: 48px;
  icon-size: 48px;
}

.message-dialog-title {
  font-weight: bold;
}

.message-dialog-subtitle {
  color: #8e8e80;
  font-weight: bold;
}